/* Wrapping */
.TooltipWrapper {
    display: inline-block;
    position: relative;

    /* Absolute positioning */
    .TooltipTip {
        position: absolute;
        border-radius: var(--uikit-border-radius-xs);
        padding: var(--uikit-indent-s);
        background: var(--color-accent);
        z-index: 100;
        animation: show 0.3s backwards;
    }

    .bottom-right {
        right: 0;
        bottom: 100%;
    }

    .top-right {
        top: 100%;
        right: 0;
    }

    .bottom-left {
        bottom: 100%;
        left: 0;
    }

    .top-left {
        top: 100%;
        left: 0;
    }
}

.fullWidth {
    width: 100%;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
