/* Wrapping */
.TooltipWrapper {
    display: inline-block;
    position: relative;

    /* Absolute positioning */
    .TooltipTip {
        position: absolute;
        border-radius: 4px;
        left: 50%;
        transform: translateX(-50%);
        padding: 6px;
        background: var(--color-accent);
        box-shadow: 0 0 10px 0 #00000040;
        font-size: 14px;
        font-family: sans-serif;
        line-height: 1;
        z-index: 100;
        white-space: nowrap;

        /* CSS border triangles */
        &::before {
            content: ' ';
            left: 50%;
            border: solid transparent;
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-width: 6px;
            margin-left: calc(6px * -1);
        }
    }

    /* Absolute positioning */
    .top {
        top: calc(40px * -1);
    }

    /* Absolute positioning */
    .right {
        left: calc(100% + 40px);
        top: 50%;
        transform: translateX(0) translateY(-50%);
    }

    /* Absolute positioning */
    .bottom {
        bottom: calc(40px * -1);
    }

    /* Absolute positioning */
    .left {
        left: auto;
        right: calc(100% + 40px);
        top: 50%;
        transform: translateX(0) translateY(-50%);

        /* CSS border triangles */
        &::before {
            left: auto;
            right: calc(6px * -2);
            top: 50%;
            transform: translateX(0) translateY(-50%);
            border-left-color: white;
        }
    }
}
