/* Wrapping */
.TooltipWrapper {
    display: inline-block;

    /* Absolute positioning */
    .TooltipTip {
        position: absolute;
        border-radius: var(--uikit-border-radius-xs);
        padding: var(--uikit-indent-s);
        background: var(--color-accent);
        z-index: 100;
        animation: show 0.3s backwards;
    }

    .bottom-right {
        transform: translate(0, 0);
    }

    .top-right {
        transform: translate(0, -100%);
    }

    .bottom-left {
        transform: translate(-100%, 0);
    }

    .top-left {
        transform: translate(-100%, -100%);
    }
}

.fullWidth {
    width: 100%;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
