.Tape {
    background: var(--color-main);
    border-radius: var(--uikit-border-radius-s);

    .header {
        border-radius: var(--uikit-border-radius-s);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: var(--uikit-indent-xs);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-radius: var(--uikit-border-radius-s);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow-y: auto;
        padding: var(--uikit-indent-xs);
    }
}
