:root {
    --uikit-indent-0: 0;
    --uikit-indent-xxs: 0.125rem;
    --uikit-indent-xs: 0.25rem;
    --uikit-indent-s: 0.5rem;
    --uikit-indent-m: 1rem;
    --uikit-indent-l: 2rem;
    --uikit-indent-xl: 4rem;
    --uikit-indent-xxl: 8rem;
}
