.main {
    color: var(--color-main);
}

.secondary {
    color: var(--color-secondary);
}

.warning {
    color: rgb(255 162 41);
}

.error {
    color: rgb(197 39 0 / 60%);
}

.success {
    color: rgb(0 199 0);
}

.info {
    color: rgb(37 168 255);
}
