.input {
    transition: all 0.3s ease;
    background: var(--color-secondary);
    height: 0.25rem;
    border-radius: var(--uikit-border-radius-xs);
    appearance: none !important;

    &:hover {
        opacity: 0.95;
    }
}

.input::-webkit-slider-thumb {
    &:hover {
        // @include controls.hover;
    }

    &:active {
        transform: scale(0.95);
    }

    cursor: ew-resize;
    appearance: none !important;
    width: 1rem;
    height: 0.5rem;
    border-radius: var(--uikit-border-radius-xs);
    background-color: var(--color-accent);
}

.input:disabled {
    pointer-events: none;
    opacity: 0.5;
}
