.input {
    transition: all 0.3s ease;
    background: var(--color-secondary);
    height: 15px;
    border-radius: 50px;
    padding: 3px;
    appearance: none !important;

    &:hover {
        opacity: 0.95;
    }
}

.input::-webkit-slider-thumb {
    &:hover {
        // @include controls.hover;
    }

    &:active {
        transform: scale(0.95);
    }

    cursor: ew-resize;
    appearance: none !important;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--color-accent);
}

.input:disabled {
    pointer-events: none;
    opacity: 0.5;
}
