@use '../../../controls';

.Button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--uikit-indent-s) var(--uikit-indent-m);
    border-radius: var(--uikit-border-radius-s);
    outline: none;
    border: none;
    text-decoration: none;
    appearance: none;
    touch-action: manipulation;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        opacity: 0.95;
    }

    &:active {
        transform: scale(0.95);
    }
}

.addonLeft,
.addonRight {
    display: flex;
}

.disabled {
    @include controls.disabled;
}

.primary {
    background: var(--color-accent);
}

.outline {
    border: 1px solid var(--color-accent);
    background: transparent;
}

.clear {
    background: none;
    border: none;
}

.fullWidth {
    width: 100%;
}

// вертикальные отступы

.vertical-padding-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.vertical-padding-xxs {
    padding-top: var(--uikit-indent-xxs);
    padding-bottom: var(--uikit-indent-xxs);
}

.vertical-padding-xs {
    padding-top: var(--uikit-indent-xs);
    padding-bottom: var(--uikit-indent-xs);
}

.vertical-padding-s {
    padding-top: var(--uikit-indent-s);
    padding-bottom: var(--uikit-indent-s);
}

.vertical-padding-m {
    padding-top: var(--uikit-indent-m);
    padding-bottom: var(--uikit-indent-m);
}

.vertical-padding-l {
    padding-top: var(--uikit-indent-l);
    padding-bottom: var(--uikit-indent-l);
}

.vertical-padding-xl {
    padding-top: var(--uikit-indent-xl);
    padding-bottom: var(--uikit-indent-xl);
}

// горизонтальные отступы

.horizontal-padding-0 {
    padding-left: 0;
    padding-right: 0;
}

.horizontal-padding-xxs {
    padding-left: var(--uikit-indent-xxs);
    padding-right: var(--uikit-indent-xxs);
}

.horizontal-padding-xs {
    padding-left: var(--uikit-indent-xs);
    padding-right: var(--uikit-indent-xs);
}

.horizontal-padding-s {
    padding-left: var(--uikit-indent-s);
    padding-right: var(--uikit-indent-s);
}

.horizontal-padding-m {
    padding-left: var(--uikit-indent-m);
    padding-right: var(--uikit-indent-m);
}

.horizontal-padding-l {
    padding-left: var(--uikit-indent-l);
    padding-right: var(--uikit-indent-l);
}

.horizontal-padding-xl {
    padding-left: var(--uikit-indent-xl);
    padding-right: var(--uikit-indent-xl);
}

// border-radius

.border-radius-0 {
    border-radius: var(--uikit-border-radius-0);
}

.border-radius-xxs {
    border-radius: var(--uikit-border-radius-xxs);
}

.border-radius-xs {
    border-radius: var(--uikit-border-radius-xs);
}

.border-radius-s {
    border-radius: var(--uikit-border-radius-s);
}

.border-radius-m {
    border-radius: var(--uikit-border-radius-m);
}

.border-radius-l {
    border-radius: var(--uikit-border-radius-l);
}

.border-radius-xl {
    border-radius: var(--uikit-border-radius-xl);
}
