::-webkit-scrollbar {
    cursor: pointer;
    border-radius: var(--uikit-border-radius-s);
    border: none;
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--color-secondary);
    border-radius: var(--uikit-border-radius-s);
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: var(--uikit-border-radius-s);
    background-color: var(--color-accent);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}
