.Accordion {
    background: var(--color-accent);
    border-radius: var(--uikit-border-radius-xs);
    padding: var(--uikit-indent-s);
}

.Button {
    justify-content: space-between;
}

.arrow {
    transition: all 0.3s ease-out;
}

.open {
    transform: rotate(180deg);
}
