:root {
    // controls
    --uikit-controls-bg-color: rgb(222 225 228 / 44.5%);

    // buttons

    // inputs
    // Checkbox
    // RadioGroup
    // Slider
    // Switcher

    // TextArea
    // TextFieldPassword
    // popups
    // scroll
    // links
    // shared
    // Stack
    // Skeleton
    // Text
    --uikit-text-color-warning: rgb(255 162 41);
    --uikit-text-color-error: rgb(255 72 26);
    --uikit-text-color-successfully: rgb(0 199 0);
    --uikit-text-color-information: rgb(37 168 255);
}
