.Link {
    transition: 0.3s ease;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    background: transparent;
    box-shadow: none;
    border: none;
    color: var(--color-accent);

    &:hover {
        opacity: 0.95;
        box-shadow: 0 2px 0 0 var(--color-accent);
    }
}

.Link:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.Link:active {
    transform: scale(0.95);
}
