.Card {
    box-shadow: 2px 2px 6px var(--color-secondary);
    border-radius: var(--uikit-border-radius-xs);
}

.filled {
    background: var(--color-secondary);
}

.outlined {
    background: none;
    border: 1px solid var(--color-secondary);
}

.transparent {
    background: none;
}

.fullWidth {
    width: 100%;
}

.fullHeight {
    height: 100%;
}

.padding_0 {
    padding: 0;
}

.padding_xxs {
    padding: var(--uikit-indent-xxs);
}

.padding_xs {
    padding: var(--uikit-indent-xs);
}

.padding_s {
    padding: var(--uikit-indent-s);
}

.padding_m {
    padding: var(--uikit-indent-m);
}

.padding_l {
    padding: var(--uikit-indent-l);
}

.padding_xl {
    padding: var(--uikit-indent-xl);
}
