.Card {
    box-shadow: 10px 10px 20px rgb(0 0 0 / 60%);
    border-radius: var(--uikit-border-radius);
}

.filled {
    background: var(--uikit-widgets-bg-color);
}

.outlined {
    background: none;
    border: 1px solid var(--uikit-theme-main-color);
}

.fullWidth {
    width: 100%;
}

.fullHeight {
    height: 100%;
}

.padding_0 {
    padding: 0;
}

.padding_xxs {
    padding: var(--uikit-indent-xxs);
}

.padding_xs {
    padding: var(--uikit-indent-xs);
}

.padding_s {
    padding: var(--uikit-indent-s);
}

.padding_m {
    padding: var(--uikit-indent-m);
}

.padding_l {
    padding: var(--uikit-indent-l);
}

.padding_xl {
    padding: var(--uikit-indent-xl);
}
