@use '../../../controls';

.disabled {
    @include controls.disabled;
}

.input {
    display: none;
}

.label {
    display: block;
    position: relative;
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: var(--color-secondary);
    transition: all 0.3s ease;
    text-indent: -9999px;

    &:hover {
        opacity: 0.95;
    }
}

.label::after {
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    transition: 0.3s;
    content: '';
    background-color: var(--color-accent);
}

.checked + .label {
    // background: var(--uikit-switcher-bg-color-active);
}

.checked + .label::after {
    left: 100%;
    transform: translateX(-100%);
}
