.Post {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: none;
    border-radius: var(--uikit-border-radius-s);
    background: var(--uikit-widgets-items-bg);
    padding: var(--uikit-indent-s);
}

.body {
    padding: var(--uikit-indent-xxs);
}

.header {
    padding: 0 var(--uikit-indent-s);
}
